a {
  text-decoration: none;
  color: white;
}
a:active,
a:hover {
  color: lightgray;
}
.nav-caption {
  display: inline-block;
  padding-left: 6px;
}
.mat-toolbar{
  font-size: 1.2rem;
&__menu{
  width: 5%;
}
&__logo {
 width: 25%;
}
&__navigation{
  width: 70%;
}
}
.navitagion-container {
 display: flex;
 align-items: center;
 justify-content: end;

  & ul {
    display: flex;
    margin-inline: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  & p {
   font-size: 1.2rem; 
  }
}
