<mat-toolbar color="primary">
  <div fxShow.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>Logo</div>
  <div fxFlex fxLayoutAlign="flex-end ">
    <ul fxLayout fxLayoutGap="10px" class="navigation-items" fxHide.xs>
      <li *ngIf="!isAuth">
         <a routerLink="/singup"> Singup </a> 
      </li>
      <li *ngIf="!isAuth">
        <a routerLink="/login">Login</a> 
      </li>
      <li *ngIf="isAuth">
         <a routerLink="/training">Training</a>
         </li>
      <li *ngIf="isAuth">
        <a (click)="onLogout()">Logout</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
