<mat-toolbar class="mat-toolbar" color="primary">
  <div>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div class="logo">Logo</div>
  <div class="navitagion-container">
    <ul class="navigation-container__items">
      <li *ngIf="!isAuth">
         <a routerLink="/singup"> Singup </a> 
      </li>
      <li *ngIf="!isAuth">
        <a routerLink="/login">Login</a> 
      </li>
      <li *ngIf="isAuth">
         <a routerLink="/training">Training</a>
         </li>
      <li *ngIf="isAuth">
        <a (click)="onLogout()">Logout</a>
      </li>
      <li>
        <mat-slide-toggle>Slide me!</mat-slide-toggle>
      </li>
    </ul>
  </div>
</mat-toolbar>
