.display-flex{
    display: flex;
}
.aling-justify-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.aling-start{
    align-items: flex-start;
}
.aling-end{
    align-items: flex-end;
}
.justify-start{
    justify-content: flex-start;
}
.justify-end{
    justify-content: flex-end;
}
// .alingStart-justifyCenter{
//     align-items: flex-start;
//     justify-content: center;
// }
// .alingEnd-justifyCenter{
//     align-items: flex-end;
//     justify-content: center;
// }
// .alingCenter-justifyStart{
//     align-items: center;
//     justify-content: flex-start;
// }
// .alingCenter-justifyEnd{
//     align-items: center;
//     justify-content: flex-end;
// }


// variantes margenes
.margin {
    margin: $margen-normal;
  }
  .margin-inline {
    margin-inline: $margen-enlinea-pequeño;
  }
  .margin-inline-normal {
    margin-inline: $margen-enlinea-normal;
  }
  .margin-inline-normal{
    margin-inline: $margen-enlinea-normal;
  }
  .marginTop{
    margin-top: $margin-top;
  }
  .padding {
    padding: $padding-normal;
  }
  // .padding-inline {
  //   padding-inline: $padding-enlinea-peque;
  // }
  .padding-inline-normal {
    padding-inline: $padding-enlinea-normal;
  }
  .padding-inline-normal {
    padding-inline: $padding-enlinea-normal;
  }
  