.singup {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1rem;
  width: 350px;
  height: 450px;

  &__form {
    flex-direction: column;
  }
  & mat-form-field{
    width: 100%;
  }
  & button{
    margin-top: 1rem;
  }
}
