$font-color-lightTheme: #000;
$font-color-darkTheme: #fff;

//tamaño texto
$font-size-pequeño: 0.8rem;
$font-size-regular: 1.2rem;
$font-size-mediano: 1.4rem;
$font-size-grande: 1.6rem;

$font-size-botones: 1.4rem;

$margen-normal: 1rem;
$margen-enlinea-peque: .7rem;
$margen-enlinea-normal: 1rem;
$margen-enlinea-regular: 1.5rem;
$margen-enlinea-grande: 2rem;
$margen-enlinea-extraGrande: 2.5rem;

$padding-normal: 1rem;
$padding-enlinea-peque: .7rem;
$padding-enlinea-normal: 1rem;
$padding-enlinea-regular: 1.5rem;
$padding-enlinea-grande: 2rem;
$padding-enlinea-extraGrande: 2.5rem;






