<div class="mat-elevation-z8" size="mediumDataTable">
  <table mat-table [dataSource]="dataSource" >

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> <p>No.</p> </th>
      <td mat-cell *matCellDef="let element"> <p>{{element.position}} </p></td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> <p>Name</p> </th>
      <td mat-cell *matCellDef="let element"> <p>{{element.name}}</p> </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> <p>Weight</p> </th>
      <td mat-cell *matCellDef="let element"> <p>{{element.weight}}</p> </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef> <p>Symbol</p> </th>
      <td mat-cell *matCellDef="let element"> <p>{{element.symbol}}</p> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons 
                 aria-label="Select page of periodic elements"
                 >
  </mat-paginator>
</div>
