<mat-tab-group class="mat-tab-group">
  <mat-tab label="radio bottones" class="mat-tab-group__tap-1">
      <mat-radio-group aria-label="Select an option" class="mat-radio-group">
        <mat-radio-button value="1">Option 1</mat-radio-button>
        <mat-radio-button value="2">Option 2</mat-radio-button>
        <mat-radio-button value="1">Option 3</mat-radio-button>
        <mat-radio-button value="2">Option 4</mat-radio-button>
        <mat-radio-button value="1">Option 5</mat-radio-button>
        <mat-radio-button value="2">Option 6</mat-radio-button>
      </mat-radio-group>

      <button mat-stroked-button color="accent">Home</button>
      <button mat-stroked-button color="primary">Home</button>
      <button mat-stroked-button color="primary">Home</button>
      
  </mat-tab>
  <mat-tab label="Alertas " class="mat-tab-group__tap-2">
    <section class="alerta">
      <button
        class="example"
        mat-raised-button
        color="success"
        (click)="successAlert()"
      >
        Personalized Alert Messaje
      </button>
      <button
        class="example"
        mat-raised-button
        color="primary"
        (click)="primary()"
      >
        Primary
      </button>
      <button
        class="example"
        mat-raised-button
        color="accent"
        (click)="accent()"
      >
        Accent Messaje
      </button>
      <button class="example" mat-raised-button color="warm" (click)="warm()">
        Alert Messaje
      </button>
    </section>
  </mat-tab>

  <mat-tab label="mat chips " class="mat-tab-group__tap-3">
    <mat-chip-list aria-label="Fish selection">
      <mat-chip color="success" selected>One</mat-chip>
      <mat-chip color="primary" selected>Primary</mat-chip>
      <mat-chip color="accent" selected>Accent </mat-chip>
      <mat-chip color="warm" selected>Warm</mat-chip>
    </mat-chip-list>
  </mat-tab>

  <mat-tab label="mat Card " class="mat-tab-group__tab-4 flex aling-center">
    <mat-card class="mat-card ">
      <mat-card-header class="mat-card__header">
      <mat-card-subtitle class="mat-card-header__subtitle">
        <p>Dog Breed</p>
      </mat-card-subtitle>
      <mat-card-title class="mat-card-header__title">Shiba Inu</mat-card-title>
    </mat-card-header>
      <mat-card-content class="mat-card__content">
        <p>This card has divider and indeterminate progress as footer</p>
        <p>test functionality</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
      <mat-card-footer>
        <mat-progress-bar mode="query"></mat-progress-bar>
      </mat-card-footer>
    </mat-card>
  </mat-tab>

</mat-tab-group>
