<mat-tab-group class="mat-tab-group">
  <mat-tab label="radio bottones" class="mat-tab-group__tap-1">
    <mat-radio-group aria-label="Select an option" class="mat-radio-group">
      <mat-radio-button value="1">Option 1</mat-radio-button>
      <mat-radio-button value="2">Option 2</mat-radio-button>
      <mat-radio-button value="1">Option 3</mat-radio-button>
      <mat-radio-button value="2">Option 4</mat-radio-button>
    </mat-radio-group>

    <button mat-stroked-button color="success">Home</button>
    <button mat-stroked-button color="primary">About</button>
    <button mat-stroked-button color="accent">Logut</button>

  </mat-tab>
  <mat-tab label="Alertas " class="mat-tab-group__tap-2" >
    <section class="alerta">
      <button
        class="example"
        mat-raised-button
        color="success"
        (click)="successAlert()"
      >
        Personalized Alert Messaje
      </button>
      <button
        class="example"
        mat-raised-button
        color="primary"
        (click)="primary()"
      >
        Primary
      </button>
      <button
        class="example"
        mat-raised-button
        color="accent"
        (click)="accent()"
      >
        Accent Messaje
      </button>
      <button class="example" mat-raised-button color="warm" (click)="warm()">
        Alert Messaje
      </button>
    </section>
  </mat-tab>

  <mat-tab label="mat chips " class="mat-tab-group__tap-3">
    <mat-chip-list aria-label="Fish selection">
      <mat-chip color="success" selected>Success</mat-chip>
      <mat-chip color="primary" selected>Primary</mat-chip>
      <mat-chip color="accent" selected>Accent </mat-chip>
      <mat-chip color="warm" size="small" selected>Warm</mat-chip>
    </mat-chip-list>
  </mat-tab>

  <mat-tab label="mat Card " class="mat-tab-group__tab-4 flex aling-center">
    <mat-card class="example-card">
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-content>
        <p>This card has divider and indeterminate progress as footer</p>
        <p> longText </p>
      </mat-card-content>
      <mat-divider inset></mat-divider>
      <mat-card-actions>
        <button mat-raised-button>LIKE</button>
        <button mat-stroked-button>SHARE</button>
      </mat-card-actions>
      <mat-card-footer>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </mat-card-footer>
    </mat-card>
  </mat-tab>

  <mat-tab label="stepper" >
    <mat-stepper>
      <mat-step  >
<ng-template matStepLabel>First step</ng-template>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Second step</ng-template>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Third step</ng-template>
      </mat-step>
    </mat-stepper>
  </mat-tab>


  <mat-tab label="DataTable">
    
    
  </mat-tab>
</mat-tab-group>
