

//tamaño texto
$font-size-pequeño: 0.8rem;
$font-size-regular: 1.2rem;
$font-size-mediano: 1.4rem;
$font-size-grande: 1.6rem;
$font-size-variante-1: 2rem;
$font-size-variante-2: 2.4rem;

$margen-normal: 1rem;
$margin-top: 1rem;
$margen-enlinea-pequeño: .7rem .7rem;
$margen-enlinea-normal: 1rem 1rem;
$margen-enlinea-grande: 1.5rem 1.5rem;
$margen-enlinea-extraGrande: 2rem 2rem;

$padding-normal: 1rem;
$padding-enlinea-pequeño: .7rem .7rem;
$padding-enlinea-normal: 1rem 1rem;
$padding-enlinea-grande: 1.5rem;
$padding-enlinea-extraGrande: 2rem;


