<div class="welcome">
  <section>
    <h4>ACTIVITY</h4>
    <p>Stay active and enjoy better health and more fun!</p>
  </section>
  <section>
    <h4>COMMUNITY</h4>
    <p>Get to know other people who share your passion!</p>
  </section>
  <section>
    <h4>CHALLENGES</h4>
    <p>Never stop! Dive into new challenges every day</p>
  </section>
  <section>
    <mat-card class="mat-card">
      <mat-card-header>
        <p>We working for be the greatest
        </p>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>

      </mat-card-content>
      <mat-card-actions>
        <div>
          <button mat-raised-button size="medium" color="primary">Sing in!</button>
          <button mat-raised-button size="small" color="warm">About Us</button>
        </div>
      </mat-card-actions>
      <mat-card-footer>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>  
      </mat-card-footer>
    </mat-card>
  </section>
</div>
