.welcome{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    & h4{
        text-align: center;
    }
    & p {
         font-size: 1.2rem;
     }
     & .mat-card{
        margin-bottom: 1rem;
     }
}