<mat-toolbar class="toolbar" color="accent">
<div>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Logo</span>
    </div>
      <span class="example-spacer"></span>
  
    <div >
        <ul>
            <li>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    </li>
    <li>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
    </li>
        </ul>
    </div>
    <mat-slide-toggle [(ngModel)]="isChecked" (change)="changed($event)" >
      <mat-icon>
{{mode}}
      </mat-icon>
    </mat-slide-toggle>

  </mat-toolbar>